---
layout: default
---
<!-- First section with name, experience, etc. -->
<div class="container">
	<div class="row home-hero-row">
		<div class="col col-12 col-t-8">
			<article class="article-first">
				<div class="article-image-first" style="background-image: url({{"/img/" | prepend: site.baseurl | append : post.image}})">
					<div class="article-content-first">
						<h2 class="article-title">{{site.author-name}}</h2>
						<h3>PLANNING &bull; CONTROL &bull; PERCEPTION &bull; LLM</h3>
						<p class="article-excerpt">
							Robotics @ UIUC
						</p>
						<a href="/about" class="button read-more">About Me</a>
					</div>
				</div>
			</article>
		</div>
		<div class="col col-12 col-t-4">
			<div class="home-top-contact" aria-hidden="true">
				{% include contact-widget.html extra_class="widget-social-top" %}
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col col-12 col-t-8">
			<div class="row">
			{%- include visible-projects.html -%}
			{%- for post in visible_projects -%}
				<article class="article col col-12 col-t-6">
					<div class="article-box">
						<div class="article-head">
							<a href="{{ post.url | prepend: site.baseurl }}" class="article-image" style="background-image: url({{"/img/" | prepend: site.baseurl | append : post.image}})">
								<div class="image-overlay">
									<span class="image-overlay-text">Details</span>
								</div>
							</a>
						</div>
						<div class="article-content">
							<div class="article-info">
								<div class="article-tag">
								{% if post.tags.size >= 1 %}
									{% for tag in post.tags %}
									<a href="{{ site.baseurl }}/tags#{{tag}}" class="tag">{{ tag }}</a>
									{% endfor %}
								{% else %} {% endif %}
								</div>
							</div>
							<h2 class="article-title">
								<a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
							</h2>
						</div>
					</div>
				</article> <!-- /.article -->
			{% endfor %}
			</div>
		</div>
		<div class="col col-12 col-t-4">
			{% include sidebar.html %}
		</div>
	</div>
</div>
