---
layout: page
title: Projects by Tags
permalink: /tags/
---
{% include tag-cloud.html %}

<div class="tags">
  <ul class="tags-list">
  {% for this_word in tag_words %}
    {% assign tagged = visible_projects | where_exp: "p", "p.tags contains this_word" %}
    <li class="tags-item"><a href="#{{ this_word | cgi_escape }}" class="tags-link">{{ this_word }} <span>{{ tagged.size }}</span></a></li>
  {% endfor %}
  </ul>

  <hr>

  {% for this_word in tag_words %}
  <h2 class="tags-title" id="{{ this_word | cgi_escape }}">{{ this_word }}</h2>
  <div class="tags-group">
    {% assign tagged = visible_projects | where_exp: "p", "p.tags contains this_word" %}
    {% for post in tagged %}
    <div class="tag-item">
      <div class="tag-text">
        <a class="tag-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div> <!-- /.tags -->
