<div class="widget widget-social {% if include.extra_class %}{{ include.extra_class }}{% endif %}">
  <h3 class="widget-title">Contact</h3>
  <ul class="social-profiles list-reset">
    {% if site.linkedin %}
    <li class="social-profiles-item">
      <a href="{{ site.linkedin }}" class="social-profiles-link"><i class="ion ion-logo-linkedin"></i></a>
    </li>
    {% else %} {% endif %}

    {% if site.github %}
    <li class="social-profiles-item">
      <a href="{{ site.github }}" class="social-profiles-link"><i class="ion ion-logo-github"></i></a>
    </li>
    {% else %} {% endif %}

    <li class="social-profiles-item">
      <a href="{{ site.email }}" class="social-profiles-link"><i class="ion ion-md-mail"></i></a>
    </li>
  </ul>
</div>
