---
layout: default
---
<div class="container">
	<div class="row">
		<article class="col col-12 col-t-8 post">
			<div class="post-content">

				<div class="post-head">
					{% if page.tags.size >= 1 %}
					<div class="post-tag">
						{% for tag in page.tags %}
						<a href="{{ site.baseurl }}/tags#{{tag}}" class="tag">{{ tag }}</a>
						{% endfor %}
					</div>
					{% endif %}
				</div>

				<div class="post-body">
					{{ content }}
				</div>

			</div>
		</article> <!-- /.post -->

		<div class="col col-12 col-t-4">
			{% include sidebar.html %}
		</div>

	</div>
</div>
